.pal .thumb {
	text-transform: lowercase;
  background-position: center;
  background-size: cover;
	cursor: pointer;
}

.pal .thumb .shade {
	height: inherit;
	background: linear-gradient(to top, transparent 50%, 80%, var(--default-bg));
	padding: 0.8em 0.5em 0em 1em;
}
