/*	deal with a teal 1px outline around a focused image in a slideshow
		TODO: narrow the selector down to a specific element tree */
:focus {
  outline: none;
}

:root {
  --note-size: min(50em, max(10em, calc(2 * var(--cell-size))));
}

.pal .notes.single {
  width: calc(var(--note-size)/2 - 2em);
  /* max-width: calc(var(--note-size)/2); */
}

.pal .notes.triple {
  width: calc(var(--note-size) * 1.5 - 2em);
  /* max-width: calc(var(--note-size) * 1.5); */
}

.pal .notes {
  float: left;
  width: calc(var(--note-size) - 2em);
  /* max-width: var(--note-size); */
  min-width: 16em;
  font-family: Raleway;
  padding: 0.3em 1em;
}

.pal .notes h2,
.pal .notes h3,
.pal .notes h4,
.pal .notes h5,
.pal .notes h6
{
  padding: 1em 1em 1em 1.5em;
  font-weight: bold;
  line-height: 130%;
}

.pal .notes strong {
  font-style: italic;
}

.pal .notes > p {
  padding: 0.5em 1em 1em 1.5em;
}

.pal .notes a:hover {
  text-decoration: underline;
}

.pal .notes ul {
  padding: 0.5em 1em 1em 1.5em;
}

.pal .notes ul li {
  list-style: disc inside;
}
