:root {
  --default-fg: #ccc;
  --default-bg: #111;

  --scrollbar-fg: #303030;
  --scrollbar-bg: var(--default-bg);

  --title-fg: #999;

  --area-bg: #383838;
  --area-fg: var(--default-fg);
  --area-hint: #505050;
  --area-pick: #686868;
  --area-mute: #2c2c2c;
  --area-overlay: #2c2c2c88;
}
