:root {
  --default-fg: black;
  --default-bg: white;

  --scrollbar-fg: #eee;
  --scrollbar-bg: var(--default-bg);

  --title-fg: #111;

  --area-bg: #e8e8e8;
  --area-fg: var(--default-fg);
  --area-hint: #ccc;
  --area-pick: #bbb;
  --area-mute: #e0e0e0;
  --area-overlay: #e0e0e088;
}
