#main, #endmark, hr {
	clear: both;
}

#header {
	display: block;
	height: 2em;
	margin: 0em;
	padding: 1em 3em 1em 1em;
	text-transform: uppercase;
	color: var(--default-fg);
	letter-spacing: 0.1em;
	font-weight: bolder;
	font-size: 1.2em;
}

#endmark {
	display: block;
	padding: 1em 0;
	font-size: 1.2em;
	text-align: center;
	color: var(--area-hint);
}

.icon {
	color: inherit;
	text-decoration: none;
}

#header .taxonomy-selector, #header .topnav {
	text-transform: lowercase;
	font-size: 90%;
	font-weight: 100;
	white-space: nowrap;
}

#header .taxonomy-selector {
	display: block;
	float: right;
	position: relative;
}

#header .taxonomy-selector a, #header .topnav a {
	background-color: var(--area-bg);
	margin: 0.3em;
	padding: 0.3em 0.6em;
}

#header .taxonomy-selector a:hover, #header .topnav a:hover,
#header .taxonomy-selector a.active:hover, #header .topnav a.active:hover {
	background-color: var(--area-hint);
}

#header .taxonomy-selector a.active, #header .topnav a.active {
	background-color: var(--area-pick);
}

#header .taxonomy-selector:hover .drop-down {
	visibility: visible;
}

#header .taxonomy-selector .drop-down {
	visibility: hidden;
	display: block;
	position: absolute;
	top: 1.6em;
	right: 0;
	padding: 0.3em 1em 0.6em 1em;
	text-align: right;
	background: var(--default-bg);
	z-index: 1;
}

#header .taxonomy-selector .drop-down > a {
	display: block;
	clear: both;
	margin-bottom: 0.5em;
}

#about {
	position: fixed;
	z-index: 1;
}

#about .info-button {
	display: block;
	position: fixed;
	top: 0.4em;
	right: 0;
	font-size: 1.5em;
	color: var(--area-hint);
	padding: 0.5em;
}

#about:hover #info {
	display: block;
}

#info {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: var(--area-bg);
	color: var(--area-fg);
	width: min(45em, max(50%, 15em));
	padding: 1em;
	margin: 0.3em;
}

#info h2 {
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 1.5em 0em;
}

#info p {
	padding: 0 0 1em 0;
}

#info .social .icon {
	display: inline-block;
	padding: 0 1em 0 0;
}

#header .icon {
	color: var(--area-hint);
	font-weight: bold;
}
