.pal .post {
	width: var(--post-width);
	margin: auto;
	min-width: 32em;
	font-family: Raleway;
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}

.pal .post a.license {
	float: right;
}

.pal .post p, .pal .post ul, .pal .post ol, .pal .post dl {
	padding: 0.5em 0em 1em 0em;
}

.pal .post p {
	text-align: justify;
}

.pal .post ul {
	padding-left: 40px;
	list-style: disc outside;
}

.pal .post ol {
  list-style-type: decimal;
  list-style-position: outside;
	padding-left: 40px;
}

.pal .post ol {
  list-style-type: decimal;
  list-style-position: outside;
	padding-left: 40px;
}

.pal .post code {
	font-family: 'Fira Code', monospace;
}

.pal .post p em {
	font-style: italic;
}

.pal .post p strong {
	font-weight: bold;
}

.pal .post p img:first-child {
	float: left;
	margin: 0.4em 1em 1em 0em;
}

.pal .post a {
	text-decoration: underline dotted;
	text-underline-offset: 0.2em;
}

.pal .post a:hover {
	color: #EEEEEE;
	text-decoration: underline solid;
}

.pal .post .highlight {
	padding: 0.5em 0em 1em 3em;
	font-family: 'Fira Code', monospace;
	background-color: var(--default-bg);
}

.pal .post blockquote {
	border-left: 1px solid var(--default-fg);
	padding-left: 1em;
}

.pal .post_link {
	float: left;
	cursor: pointer;
	background-color: var(--area-mute);
	width: calc(2 * var(--cell-size));
	height: var(--cell-size);
}

.pal .post_link .cell {
	display: block;
	width: var(--cell-size);
	height: var(--cell-size);
	object-fit: cover;
}

.pal .post_link .tnd {
	overflow: hidden;
	position: relative;

	width: auto;
	height: calc(var(--cell-size) - 1em);
}

.pal .post_link .tnd:after {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	height: 50%;
	width:100%;
	background: linear-gradient(transparent, var(--area-mute));
}

.pal .post_link p.title {
	font-weight: bold;
	text-transform: uppercase;
}

.pal .post_link p {
	margin: 0.5em 0.3em 0.3em 0.5em;
	font-family: Comfortaa;
	color: inherit;
}

.pal .post .embed {
	margin: 1em auto auto;
}

.pal .post_date {
	display: block;
	float: right;
	padding: 0.6em 4em 0.6em 1em;
	background-color: var(--area-bg);
}

.pal .video {
	width: var(--post-width);
	height: calc(var(--post-width)*11/19);
	margin: auto;
	font-family: Raleway;
	position: relative;
}

.pal .video iframe {
	width: 100%;
	height: 100%;
}
