.pal .cell {
	float: left;
	display: block;
	font-family: Comfortaa;

	width: var(--cell-size);
	min-width: 8em;
	height: var(--cell-size);
	min-height: 8em;
}

.pal .stake.divider {
	width:100%;
	height:0.5em;
	clear:both;
	border-bottom: var(--area-hint) solid;
	margin-bottom: 0.5em;
}

.pal .cell.stake {
	background: inherit;
	position: relative;
}

.pal .cell.stake .to_top {
	display: block;
	margin: 0;
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	font-size: 120%;
	color: var(--area-hint);
}

.pal .cell.stake * {
  text-align: center;
  margin: 2em 1em;
}
