:root {
  	--columns: 6;
	--cell-size: min(400px, max(100px, calc(100vw / var(--columns))));
	--post-width: min(1000px, max(500px, 70vw));
}

html,body {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg);
	scroll-padding-top: 3em;
}

html::-webkit-scrollbar {
	background: var(--scrollbar-bg); /* or add it to the track */
}

html::-webkit-scrollbar-thumb {
	background: var(--scrollbar-fg);
}

body {
	color: var(--default-fg);
	background: var(--default-bg);
	font-family: Comfortaa;
	line-height: 1.5;
}

h1 {
	color: var(--title-fg);
}

h2.section_title {
	margin: 0em 0em 0.5em 0em;
	padding: 0em 2em 1em 2em;
}

h2.section_title .choices {
	float:right;
	display: inline-flex;
	flex-direction: row;
	flex-basis: content;
}

.pal h1 {
	width: min(1000px, max(500px, 70vw));
	margin: 1em auto;
	font: bold 150% Comfortaa;
}

.pal h2 {
	font: bold 115% Comfortaa;
	margin: 0.5em 0em 0.5em 2em;
}

h2.section_title a {
	background-color: var(--area-bg);
}

h2.section_title a:hover {
	background-color: var(--area-hint);
}

h2.section_title > a {
	padding: 0.1em 0.7em;
	margin-left: 5em;
	margin-right: 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
	border: none;
	clear: both;
	padding-bottom: 2em;
}

.pal > a.prev, .pal > a.next {
	top: 3em;
  bottom: 0;
	width: 3em;
	position: fixed;
}

.pal {
	box-sizing: border-box;
	font-family: Comfortaa;
	color: var(--area-fg);
	white-space: normal;
}

.pal > a.prev > div, .pal > a.next > div {
	top: min(35%, 10em);
	left: 50%;
	margin-left: -0.5em;
	position: absolute;
	display: block;
	font-size: 200%;
	color: var(--area-hint);
}

.pal > a.prev:hover, .pal > a.next:hover {
	background-color: var(--area-overlay);
}

.pal > a.prev:hover *, .pal > a.next:hover * {
	color: var(--area-fg);
}

.pal > a.prev { left: 0; }

.pal > a.next { right: 0; }
