.chroma {
  --err-fg: #a61717;
  --err-bg: #e3d2d2;

  --lineno: #686868;
  --keyword: #6ab825;
  --string: #f8ffe0;
  --number: #3677a9;
  --comment: #999999;
}

/* Background */ .chroma { color: var(--default-fg); background-color: var(--default-bg); }
/* Other .chroma .x {  } */
/* Error */ .chroma .err { color: var(--err-fg); background-color: var(--err-bg) }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--lineno) }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--lineno) }
/* Keyword */ .chroma .k { color: var(--keyword); font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: var(--keyword); font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: var(--keyword); font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: var(--keyword); font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: var(--keyword) }
/* KeywordReserved */ .chroma .kr { color: var(--keyword); font-weight: bold }
/* KeywordType */ .chroma .kt { color: var(--keyword); font-weight: bold }
/* Name .chroma .n {  } */
/* NameAttribute */ .chroma .na { color: #bbbbbb }
/* NameBuiltin */ .chroma .nb { color: #24909d }
/* NameBuiltinPseudo .chroma .bp {  } */
/* NameClass */ .chroma .nc { color: #447fcf; text-decoration: underline }
/* NameConstant */ .chroma .no { color: #40ffff }
/* NameDecorator */ .chroma .nd { color: #ffa500 }
/* NameEntity .chroma .ni {  } */
/* NameException */ .chroma .ne { color: #bbbbbb }
/* NameFunction */ .chroma .nf { color: #447fcf }
/* NameFunctionMagic .chroma .fm {  } */
/* NameLabel .chroma .nl {  } */
/* NameNamespace */ .chroma .nn { color: #447fcf; text-decoration: underline }
/* NameOther .chroma .nx {  } */
/* NameProperty .chroma .py {  } */
/* NameTag */ .chroma .nt { color: var(--keyword); font-weight: bold }
/* NameVariable */ .chroma .nv { color: #40ffff }
/* NameVariableClass .chroma .vc {  } */
/* NameVariableGlobal .chroma .vg {  } */
/* NameVariableInstance .chroma .vi {  } */
/* NameVariableMagic .chroma .vm {  } */
/* Literal .chroma .l {  } */
/* LiteralDate .chroma .ld {  } */
/* LiteralString */ .chroma .s { color: var(--string) }
/* LiteralStringAffix */ .chroma .sa { color: var(--string) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--string) }
/* LiteralStringChar */ .chroma .sc { color: var(--string) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--string) }
/* LiteralStringDoc */ .chroma .sd { color: var(--string) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--string) }
/* LiteralStringEscape */ .chroma .se { color: var(--string) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--string) }
/* LiteralStringInterpol */ .chroma .si { color: var(--string) }
/* LiteralStringOther */ .chroma .sx { color: var(--string) }
/* LiteralStringRegex */ .chroma .sr { color: var(--string) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--string) }
/* LiteralStringSymbol */ .chroma .ss { color: var(--string) }
/* LiteralNumber */ .chroma .m { color: var(--number) }
/* LiteralNumberBin */ .chroma .mb { color: var(--number) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--number) }
/* LiteralNumberHex */ .chroma .mh { color: var(--number) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--number) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--number) }
/* LiteralNumberOct */ .chroma .mo { color: var(--number) }
/* Operator .chroma .o {  } */
/* OperatorWord */ .chroma .ow { color: var(--keyword); font-weight: bold }
/* Punctuation .chroma .p {  } */
/* Comment */ .chroma .c { color: var(--comment); font-style: italic }
/* CommentHashbang */ .chroma .ch { color: var(--comment); font-style: italic }
/* CommentMultiline */ .chroma .cm { color: var(--comment); font-style: italic }
/* CommentSingle */ .chroma .c1 { color: var(--comment); font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #e50808; background-color: #520000; font-weight: bold }
/* CommentPreproc */ .chroma .cp { color: #cd2828; font-weight: bold }
/* CommentPreprocFile */ .chroma .cpf { color: #cd2828; font-weight: bold }
/* Generic .chroma .g {  } */
/* GenericDeleted */ .chroma .gd { color: #d22323 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #d22323 }
/* GenericHeading */ .chroma .gh { color: #ffffff; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #589819 }
/* GenericOutput */ .chroma .go { color: #cccccc }
/* GenericPrompt */ .chroma .gp { color: #aaaaaa }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #ffffff; text-decoration: underline }
/* GenericTraceback */ .chroma .gt { color: #d22323 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #666666 }
