<!DOCTYPE HTML>
<html>
<head>
	{{- with .Title -}}
	<title>{{- . -}}</title>
	{{- end -}}

	{{- partial "styles.html" . -}}
	{{- partial "favicons.html" . -}}
	{{- partial "meta.html" . -}}
</head>
<body>
	{{- partial "header.html" . -}}
	{{- partial "about.html" . -}}
	{{- block "main" . -}}{{- end -}}
	<p id="endmark">&nbsp;&bsim;&nbsp;&nbsp;&nbsp;&olcir;&nbsp;&nbsp;&nbsp;&bsim;&nbsp;</p>
</body>
</html>
