<div id="about">
	<a class="icon info-button fas fa-info-circle" alt="Information">&nbsp;</a>
	<div id="info">
		{{- with .Site.Params.title -}}
		<h2>{{- . | markdownify -}}</h2>{{- end -}}
		{{- range .Site.Params.about -}}
		<p>{{- . | markdownify -}}</p>{{- end -}}

		{{- with .Site.Params.social -}}
		<p class="social">{{- range . -}}<a href="{{ .url }}" class="icon fa-lg {{ .icon }}" alt="{{ .label }}" target="_blank">&nbsp;</a>{{- end -}}</p>{{- end -}}
	</div>
</div>
