{{- with readFile . -}}
	<div class='stake divider'>&nbsp;</div>
	<div class='cell stake'>
		{{ . | markdownify }}
		<a href="#" class="to_top icon fas fa-arrow-circle-up">&nbsp;</a>
	</div>
{{- end -}}
