{{- $curr := .Section -}}
<span class="topnav">
	{{- range .Param "topnav" -}}
		<a href="/{{ .name }}/"{{
			if or (eq .name $curr ) (and .default (eq $curr "" ))
		}} class="active" {{ end -}}>{{ default .name .title }}</a>
	{{- end -}}
</span>
