{{- $currTx := .Data.Singular -}}
{{- $currTerm := .Data.Term -}}
{{- range $taxonomy, $terms := .Site.Taxonomies -}}
<div class="taxonomy-selector">
  <a href="/{{- urlize $taxonomy -}}"{{ if eq $taxonomy $currTx }} class="active"{{ end }}>{{- humanize $taxonomy -}}</a>
  <div class="drop-down">
    {{- range $key, $val := $terms -}}
      <a class="{{- if eq $currTerm $key -}}active{{- end -}}" href="{{ printf "%s//%s//" ( urlize $taxonomy ) ( urlize $key ) | relLangURL}}">{{ humanize $key }}</a>
    {{- end -}}
  </div>
</div>
{{- end -}}
