<h1 id="header">
	<a href="/" style="font-size: 120%;" class="icon fas fa-home">&nbsp;</a>
	{{- partial "header_taxonomy.html" . -}}
	{{- partial "header_topnav.html" . -}}
	{{- partial "header_up.html" . -}}
</h1>
