{{- if or .IsPage (ne .FirstSection .CurrentSection) (eq .Kind "term") -}}
  {{- with .Params -}}
    {{- if not (in (slice "false" false 0) (.show_date)) -}}
      <div class="post_date">{{ .date.Format "2006-01-02" }}</div>
    {{- end -}}
    <h1>
      {{- .title -}}
    </h1>
  {{- end -}}
{{- end -}}
