<a class='post_link' href='{{ .url }}'>
	{{- with .thumb -}}<img class="cell" src="{{ . }}" />{{- end -}}
	<div class="tnd">
		{{- with .title -}}<p class="title">{{ . }}</p>{{- end -}}
		{{- with .description | markdownify -}}<p>{{ . }}</p>{{- end -}}
	</div>
</a>
