{{- $thumb := resources.GetMatch .thumb -}}

<a class='cell thumb' href='{{ .url }}' style='
{{- with $thumb -}}
	background-image: url({{ ($thumb.Fill "400x400").RelPermalink }});
{{- end -}}
'>
	{{- with .title -}}
	<div class="shade">
		<p class="album_title">{{ . }}</p>
	</div>
	{{- end -}}
</a>
