<a class='unknown_link' href='{{ .url }}' style='background-image: url({{ .thumb }});'>
	{{- with .title -}}
  	<p class="title">{{ . }}</p>
	{{- end -}}
  {{- with .description -}}
	  <p class="description">{{ . }}</p>
	{{- end -}}
</a>
