<meta charset="utf-8" />

{{- with .Site.Title -}}
<meta name="description" content="{{- . -}}">
{{- end -}}

{{- with .Site.Params.author -}}
<meta name="author" content="{{- . -}}">
{{- end -}}

{{- with .Site.Params.keywords -}}
<meta name="keywords" content="{{- . -}}">
{{- end -}}

{{- hugo.Generator -}}

{{- partial "verification.html" . -}}

{{ template "_internal/opengraph.html" . }}

{{ template "_internal/twitter_cards.html" . }}
