{{- $alt := .Alt -}}
{{- $title := .Title -}}
{{- with resources.GetMatch .Path -}}
	{{- $thumb := .Fill "400x400" -}}
	<a class='cell thumb' href='{{ .RelPermalink }}' style='background-image: url({{ $thumb.RelPermalink }});'
    {{- with $alt }} alt='{{ . }}'{{ end }}>
		{{- with $title }}<p>{{ . }}</p>{{ end -}}
	</a>
{{- end -}}
