{{- with .Page.NextInSection -}}
  <a href="{{ .Permalink }}" style="font-size: 110%;" class="prev">
    <div class="icon fas fa-arrow-circle-left">&nbsp;</div>
  </a>
{{- end -}}
{{- with .Page.PrevInSection -}}
  <a href="{{ .Permalink }}" style="font-size: 110%;" class="next">
    <div class="icon fas fa-arrow-circle-right">&nbsp;</div>
  </a>
{{- end -}}
