{{- $sect := .Section -}}
{{- $colors := .Param "default_colors" -}}
{{- range .Param "topnav" -}}
  {{- if and (eq $sect .name) (isset . "colors") -}}
    {{- $colors = .colors -}}
  {{- end -}}
{{- end -}}
<link rel="stylesheet" href="/assets/css/reset_meyerweb.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:100,400,700&subset=latin-ext" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin-ext" />
<link rel="stylesheet" href="/assets/css/pal_colors_{{ $colors }}.css" />
<link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
<link rel="stylesheet" href="/assets/css/syntax.css" />
<link rel="stylesheet" href="/assets/css/lightgallery.css" />
<link rel="stylesheet" href="/assets/css/pal.css" />
