{{- $id := .Get "id"  -}}
{{- $stream_title := .Get "stream_title" -}}
{{- $stream := .Get "stream" -}}
{{- $title := .Get "title" -}}
{{- $track := .Get "track" -}}
<iframe class="embed" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ $id }}&color=%23383838&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Comfortaa,Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/{{ $stream }}" title="{{ $stream_title }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ $stream_title }}</a> · <a href="https://soundcloud.com/{{ $stream }}/{{ $track }}" title="{{ $title }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ $title }}</a></div>
